---
import BaseLayout from '../layouts/BaseLayout.astro';
import NavBar from '../components/NavBar.astro';
import Footer from '../components/Footer.astro';
import SocialSeparator from '../components/SocialSeparator.astro';

import projects from '../assets/projects.json';

interface Project {
	name: string;
	description: string;
	image: string;
	url: string;
	technologies: string[];
}
---

<BaseLayout title="The Frontdev | Diseño y programación web">
	<NavBar />
	<main>
		<section class="home" id="home">
			<div class="home-container">
				<div class="info">
					<hgroup>
						<p class="hello">Hello there <span class="lightsaber"><img src="/images/lightsaber.svg" alt=""></span> I'm</p>
						<h1 class="title">
							<span>&lt;</span> 
							Emmanuel <br> Bernal 
							<span>&sol;&gt;</span></h1>
						<h2 class="subtitle">Frontend Developer</h2>
					</hgroup>
					<div class="button">
						<a href="/files/CV-Emmanuel-Bernal-Eng.pdf" class="btn-resume" target="_blank">Resume</a>
					</div>
				</div>
				<div class="front-image">
					<div class="square"></div>
					<div class="funko-funko"></div>
					<img class="front-funko" src="/images/frondevFunko.webp" alt="frontdev">
				</div>
			</div>
			<SocialSeparator />
		</section>
		<section class="about" id="about">
			<div class="photo">
				<img src="/images/me.svg" alt="Emmanuel Bernal">
			</div>
			<div class="info">
				<h2 class="title">Me...</h2>
				<p>
					I'm a Frontend Developer and UI Designer specializing in web application development using JavaScript, TypeScript, Angular, HTML, and CSS. I am passionate about programming and known for my creativity, punctuality, and responsibility. I excel in collaborative team environments and consistently demonstrate my commitment to achieving goals and overcoming challenges.
					<br><br>
					I have a personal project called "TheFrontdev," which is dedicated to sharing knowledge and continuous learning within the development community through Instagram and Twitch.
				</p>
			</div>
		</section>
		<section class="projects" id="projects">
			<hgroup>
				<h3 class="title">PROJECTS</h3>
				<div class="subtitle">DEVELOPMENT & DESIGN</div>
			</hgroup>
			{
			projects.map((project: Project) => (
				<div class={`info ${project.image.replace('.webp', '')}`}>
					<h3>{project.name}</h3>
					<p>{project.description}</p>
					<div class="tecnologies">
						{
							project.technologies.map((technology: string) => (
								<img src={`/images/technologies/${technology.toLowerCase()}.svg`} alt={technology}>
							))
						}
					</div>
					<a href={project.url} class="button-live" target="_blank" rel="noopener noreferrer">Live</a>
				</div>
			))
			}
			<div class="cards">
				{
					projects.map((project: Project, index: number) => (
						<label class="project" style={`--bg: url(/images/projects/${project.image})`}>
							{index === 0 ? <input type="radio" name="project" id={project.image.replace('.webp', '')} checked> : <input type="radio" name="project" id={project.image.replace('.webp', '')}>}
						</label>
					))
				}
			</div>
		</section>
	</main>
	<Footer />
</BaseLayout>

<style>
	.main {
		scroll-behavior: smooth;
		scroll-snap-type: y mandatory;
		scroll-snap-align: start;
	}
	section {
		height: 100vh;
		box-sizing: border-box;
		&:first-child {
			height: calc(100vh - 6rem);
		}
	}

	.home {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		& .home-container {
			width: 100%;
			box-sizing: border-box;
			display: flex;
			align-items: center;
			justify-content: space-around;
			& .front-image {
				display: flex;
				flex-direction: column;
				justify-content: center;
				& .square {
					width: 29rem;
					height: 29rem;
					border-radius: 4rem;
					border: 2rem solid #BDAB4D;
					box-shadow: 0 0 2rem #BDAB4D80, 0 0 1.5rem #BDAB4D inset;
					transform: rotate(75deg);
					box-sizing: border-box;
					margin-top: 3rem;
				}
				& .front-funko {
					position: relative;
					z-index: 1;
					margin-top: -31rem;
					width: 28rem;
					box-sizing: border-box;
				}
		}
		}
		& .info {
			& .hello {
				font-size: 1.5rem;
				& .lightsaber {
					& img {
						transform: rotate(-45deg);
						margin: 0 0 -1rem -1.5rem;
					}
				}
			}
			& .title {
				font-size: 4rem;
				font-weight: 700;
				line-height: 1;
				text-align: center;
				margin-block: 0;
				font-weight: 500;
				color: var(--blue);
				& span {
					color: var(--yellow);
					font-weight: 600;
				}
				& br {
					content: "";
					&::before {
						content: "\A";
						white-space: pre-line;
						margin-left: 12rem;
					}
					&::after {
						content: "";
						margin-right: 12rem;
					}
				}
			}
			& .subtitle {
				text-align: center;
				font-size: 2rem;
				font-weight: 500;
			}
			& .button {
				text-align: right;
				& .btn-resume {
					text-decoration: none;
					padding: 0.5rem 1rem;
					border-radius: 0.5rem;
					border: 0.125rem solid var(--yellow);
					transition: 0.3s;
					background: var(--bg);
					color: var(--yellow);
					&:hover {
						background: var(--yellow);
						color: var(--bg);
					}
				}
			}
		}
	}

	.about {
		width: 100%;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: space-around;
		align-items: center;
		& .photo {
			order: 1;
			text-align: center;
			& img {
				--size: 25rem;
				/* --factor-scale: 1.35;*/

				width: var(--size);
				/* aspect-ratio: 1;
				padding-top: calc(var(--size)/10);
				border-radius: 0 0 100% 100%;
				background: radial-gradient(
					circle closest-side, 
					var(--blue) 99%, transparent) 
					50%/calc(100%/var(--factor-scale)) 100% no-repeat content-box;
				-webkit-mask: linear-gradient(#000 0 0) no-repeat 
				0 0/100% 50%,
				radial-gradient(circle closest-side, var(--blue) 99%, transparent) 
				50%/calc(100%/var(--factor-scale)) 100% no-repeat content-box;
				transform: scale(var(--factor-scale));
				transition: 0.5s;*/
			}
		}
		& .info {
			order: 2;
			& .title {
				margin-block: 0;
				font-size: 2rem;
				color: var(--yellow);
			}
			& p {
				max-inline-size: 60ch;
				font-size: 1rem;
				text-wrap: balance;
			}
			& a {
				text-decoration: none;
				padding: 0.5rem 1rem;
				background: #fafafa;
				border-radius: 0.5rem;
			}
		}
	}

	.projects {
		width: 100%;
		height: 80vh;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background: linear-gradient(to right, var(--bg), #252e4280, var(--bg)), linear-gradient(to bottom, var(--bg), #252e4280, var(--bg)), var(--bg-img) no-repeat center center/cover;
		&:has(#clonepato:checked) {
			--bg-img: url(/images/projects/clonepato-bg.webp);
			& .clonepato {
				--show: block;
			}
		}
		&:has(#broncosespanol:checked) {
			--bg-img: url(/images/projects/broncosespanol-bg.webp);
			& .broncosespanol {
				--show: block;
			}
		}
		&:has(#gphackathon:checked) {
			--bg-img: url(/images/projects/gphackathon-bg.webp);
			& .gphackathon {
				--show: block;
			}
		}
		&:has(#rnmchallenge:checked) {
			--bg-img: url(/images/projects/rnmchallenge-bg.webp);
			& .rnmchallenge {
				--show: block;
			}
		}
		&:has(#trotamundos:checked) {
			--bg-img: url(/images/projects/trotamundos-bg.webp);
			& .trotamundos {
				--show: block;
			}
		}
		&:has(#snstudio:checked) {
			--bg-img: url(/images/projects/snstudio-bg.webp);
			& .snstudio {
				--show: block;
			}
		}
		& .title {
			text-align: center;
			font-weight: 500;
			font-size: 8rem;
			color: var(--blue);
			margin-block: 0;
		}
		& .subtitle {
			text-align: center;
			letter-spacing: 1.5rem;
			margin-block: 0;
			margin: -7rem auto 0;
			background: linear-gradient(to right, var(--bg) 30%, #252e42cc, var(--bg) 70%);
			padding: 0.25rem 0;
			position: relative;
		}
		& .info {
			--show: none;
			display: var(--show);
			min-height: 30vh;
			padding: 0 3rem;
			& h3 {
				font-size: 1.5rem;
			}
			& p {
				width: min(100%, 50rem);
				margin-block: 0;
				font-weight: 500;
			}
			& .tecnologies {
				display: flex;
				gap: 1rem;
				margin: 2rem 0;
			}
			& .button-live {
				padding: 0.5rem 1rem;
				background: var(--bg);
				border-radius: 0.25rem;
				text-decoration: none;
				color: var(--yellow);
				box-shadow: 0 0 0.5rem #0e0e0e80;
				border: 0.125rem solid var(--yellow);
				transition: 0.5s;
				&:hover {
					background: var(--yellow);
					color: var(--bg);
				}
			}

		}
		& .cards {
			width: 100%;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			gap: 1rem;
			& .project {
				width: 12rem;
				height: 12rem;
				box-sizing: border-box;
				border-radius: 1rem;
				background: linear-gradient(to bottom, #0e0e0ecc 100%, transparent), var(--bg) no-repeat center center/cover;
				transform: scale(0.85);
				transition: 0.5s;
				cursor: pointer;
				&:has(input:checked) {
					border: 0.25rem solid var(--yellow);
					background: var(--bg) no-repeat center center/cover;
					transform: scale(1);
					box-shadow: 0.25rem 0.25rem 0.5rem #0e0e0e80;
				}
				& input {
					display: none;
				}
			}
		}
	}

	@media screen and (max-width: 768px) {
		.home {
			& .home-container{
				& .info {
					& .hello {
					font-size: 1rem;
					}
					& .title {
						font-size: 3.25rem;
						& br {
							content: none;
						}
					}
					& .subtitle {
						font-size: 1.25rem;
					}
					& .button {
						text-align: center;
					}
				}
				& .front-image {
					display: none;
				}
			}
		}
		.about {
			flex-direction: column;
			height: max-content;
			& .photo {
				order: 2;
				& img {
					width: 80%;
				}
			}
			& .info {
				order: 1;
			}
		}
		.projects {
			height: max-content;
			& .title {
				font-size: 4.5rem;
			}
			& .subtitle {
				letter-spacing: 0.5rem;
				font-size: 0.75rem;
				margin-top: -4.25rem;
			}
			& .info {
				padding: 2rem 0;
			}
			& .cards {
				padding: 0;
				& .project {
					width: 10rem;
					height: 10rem;
				}
			}
		}
	}
	@media screen and (max-width: 400px) {
		.projects {
			& .title {
				font-size: 4rem;
			}
			& .subtitle {
				margin-top: -4rem;
			}
			& .cards {
				padding: 0;
				& .project {
					width: 8.75rem;
					height: 8.75rem;
					aspect-ratio: 1;
				}
			}
		}
	}
</style>